#wrapper
{
  padding: 10% 0% 0% 30%;
}
.head
{
  background-color: rgb(212, 199, 78);
  font-weight: 100;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

.title1
{
  background-color: rgb(78, 136, 212);

}

